<div class="row wrap width-block">
	<ul class="list od-1 fx-1 font-size-small">
		<li><a href="https://github.com/alinarezrangel/generation">github.com/alinarezrangel/generation</a></li>
		<li><a href="https://github.com/alinarezrangel/generation/issues">Issues</a></li>
		<li><a href="https://github.com/alinarezrangel/generation/pulls">Pull Requests</a></li>
	</ul>
	<ul class="list od-2 fx-1 font-size-small">
		<li><a href="{{ site.baseurl }}/">Main page</a></li>
		<li><a href="{{ site.baseurl }}/docs">Documentation</a></li>
		<li><a href="{{ site.baseurl }}/docs/tutorials">Tutorials</a></li>
	</ul>
	<ul class="list od-3 fx-1 font-size-small">
		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
		<li><a href="{{ site.baseurl }}/docs/wiki">Wiki</a></li>
		<li><a href="{{ site.baseurl }}/download">Download</a></li>
	</ul>
</div>

