html, body {
	font-family: Roboto, sans-serif;
}

.cond {
	border: 1px solid #CCC;
}

.cond-ex {
	display: inline;

	font-style: italic;
	color: #822a94;
	font-size: 0.8em;
	margin: 10px 0px;
}

.note {
	display: block;

	margin: 16px;
	padding: 32px;

	border: 4px solid #CCC;
}
