---
layout: default
---

<header class="container">
	<h1 class="text-center">Generation</h1>
</header>

<section class="container">
	<p class="text-center font-size-ultra-big font-style-italic">
		Generation is a CSS3 framework which uses the best from modern web technologies
		to build responsive, mobile-first web pages and applications.
	</p>
</section>

<section class="container row">
	<div class="card col no-padding">
		<div class="container no-margin color-tree">
			<h2 class="text-large">Simple and responsive</h2>
		</div>
		<div class="container">
			<p>
				Generation is simple to use and responsive without any change, it makes use of
				<a href="https://www.w3.org/TR/css-flexbox-1/" target="_blank">flexbox layout</a>
				which enables the content to move and <em>flex</em> around the page when it is
				resized without using media queries.
			</p>
		</div>
	</div>
	<div class="card col no-padding">
		<div class="container no-margin color-tree">
			<h2 class="text-large">Extendible and colorful</h2>
		</div>
		<div class="container">
			Generation uses <a href="https://sass-lang.com/">SASS</a> and have well-documented
			classes, mixins and functions. You can extend Generation to create new elements,
			widgets and your very own <strong>color paletes</strong>.
		</div>
	</div>
	<div class="card col no-padding">
		<div class="container no-margin color-tree">
			<h2 class="text-large">Semantic</h2>
		</div>
		<div class="container">
			No more <code>content</code> classes, write the HTML that you just need and no more.
			Generation reinforces the semantic web design with powerful, semantic and general
			classes.
		</div>
	</div>
</section>

<section class="section no-padding border bs-2 border-color-tree">
	<header class="container no-margin">
		<h2>Newer and better: is Generation 2</h2>
	</header>
	<section class="container">
		<p>
			Generation 2 is the new iteration of a complete and flexible framework, now redesigned
			from scratch using <a href="https://sass-lang.com/">SASS</a> as the core language and
			with <a href="https://sass-lang.com/">SASS</a> comes a new powerful API for color
			paletes, classes and elements.
		</p>
		<p>
			You can see <a href="{{ site.baseurl }}/releases/v2.0/2017/07/16/what-is-new-in-generation-2.html">what is new</a>.
		</p>
	</section>
</section>

<section class="section no-padding border-color-ocean border bs-2">
	<header class="container no-margin color-ocean">
		<h2>Download</h2>
	</header>
	<section class="container">
		<p>
			Download the lastest version of Generation!
		</p>

		<div class="container color-green font-style-bold">
			Generation <strong>2.0</strong> is here! See
			<a href="{{ site.baseurl }}/releases/v2.0/2017/07/16/what-is-new-in-generation-2.html">what is new</a>
		</div>

		<div class="button-group">
			<a class="link button color-dark-green" href="https://github.com/alinarezrangel/generation/releases/tag/v2.0.1">
				Download Generation 2.0 (newer and better)
			</a>
			<a class="link button color-natural-middlegrey" href="https://github.com/alinarezrangel/generation/releases/tag/v1.1.0">
				Download Generation 1.1 (legacy)
			</a>
		</div>
	</section>
</section>

<section class="section no-padding border bs-4 border-color-black">
	<header class="container no-margin">
		<h2>Tutorials and demos</h2>
	</header>
	<section class="container">
		<p>
			Do you like this page? this page was builded using <a href="https://jekyllrb.com/">Jekyll</a>
			and Generation 2.
		</p>
		<p>
			Just for now we don't have tutorials, but some pages and projects uses Generation as their frontend
			framework:
		</p>
		<ul class="list">
			<li>
				<a href="http://pseudod.sourceforge.net">The PseudoD programming language</a>
				website uses Generation 1.1
			</li>
			<li>
				<a href="https://github.com/alinarezrangel/node-natural">NodeNatural</a>
				uses the older Generation 1.0
			</li>
			<li>
				<a href="https://github.com/alinarezrangel/cnatural">CNatural</a>
				uses Generation 1.1 and is moving to Generation 2.0.
			</li>
		</ul>
	</section>
</section>

